// Place all the styles related to the admins/brands controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-input {
    /* width: 360px; */
    /* height: 580px; */
    /* background: #f1f1f1; */
    /* padding: 80px 40px; */
    /* border-radius: 10px; */
    // position: absolute;
    // left: 22%;
    /* top: 50%; */
    width: 55%;
    margin: 0 auto;
    transform: translate(0%, 10%);
    z-index: -1;
}