// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carousel-wrap {
  // margin: 90px auto;
  margin:0 auto;
  padding: 0 5%;
  width: 80%;
  position: relative;
}

/* fix blank or flashing items on carousel */
.owl-carousel .item {
  position: relative;
  z-index: 100; 
  -webkit-backface-visibility: hidden; 
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
  left: -30px;
}

.owl-nav .owl-next {
  right: -30px;
}
.owl-prev {
    margin-left: 35px;
    position: absolute;
    top: 35%;
    display: block !important;
    border:0px solid black;
}

.owl-next {
    margin-right: 35px;
    position: absolute;
    top: 35%;
    display: block !important;
    border:0px solid black;
    z-index: 999;
}
.owl-prev i, .owl-next i {color: rgba(255, 255, 255, 0.26);}
button:focus{outline:none !important;}

.img-view-product{
	height:auto;
}
.item-view-product{
	height:auto;
	    border-bottom: 1px solid #d9d7db73;
    box-shadow: 1px 1px 2px 1px #bcb9b973
}

.view-detail {
    position: absolute;
    top: 40%;
    color: white;
        background: #e0dede87;
    display: none;
}
.item-view-product:hover{
	display: block;

}
.item-view-product div:hover > a.view-detail {
    display: block;
    left: 30%; 
        text-decoration: none;
        color:#333;

}
.item-view-product div:hover > img.img-view-product{
	opacity: 0.6;
}
.text-title  {
    width: 70%;
     text-align: center; 
    margin: 0 auto;
    /* background: #3c2d4c; */
}
.container-info .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 100%; /* Full width */
  padding: 20px; /* Some padding */
}
.container-info {
  position: relative; 
  max-width: 1100px; /* Maximum width */
  margin: 0 auto; /* Center it */
}
img.info-comapany-img {
    height: 520px;
    width: 100%;
}

